
ul{
	margin:0;
	padding:0;
}

ul.container{
	/* The topmost UL */
	width:240px;
	margin:0 auto;
	
}

li{
	list-style:none;
	text-align:left;
}

li.menu{
	/* The main list elements */
	padding:5px 0;
	width:100%;
}

li.button a{
	/* The section titles */
	display:block;
	font-family:BPreplay,Arial,Helvetica,sans-serif;
	font-size:21px;
	height:34px;
	overflow:hidden;
	padding:10px 20px 0;
	position:relative;
	width:200px;
}

li.button a:hover{
	/* Removing the inherited underline from the titles */
	text-decoration:none;
}

li.button a span{
	/* This span acts as the right part of the section's background */
	height:44px;
	position:absolute;
	right:0;
	top:0;
	width:4px;
	display:block;
}

/* Setting up different styles for each section color */

li.button a.blue{background:url(../img/blue.png) repeat-x top left; color:white;}
li.button a.blue span{ background:url(../img/blue.png) repeat-x top right;}

li.button a.green{background:url(../img/green.png) repeat-x top left; color:white;}
li.button a.green span{ background:url(../img/green.png) repeat-x top right;}

li.button a.orange{background:url(../img/orange.png) repeat-x top left; color:white;}
li.button a.orange span{ background:url(../img/orange.png) repeat-x top right;}

li.button a.red{background:url(../img/red.png) repeat-x top left; color:white;}
li.button a.red span{ background:url(../img/red.png) repeat-x top right;}

/* The hover effects */

li.button a:hover{ background-position:bottom left;}
li.button a:hover span{ background-position:bottom right;}

.dropdown{
	/* The expandable lists */
	display:none;
	padding-top:5px;
	width:100%;
}

.dropdown li{
	/* Each element in the expandable list 
	background-color:#373128;
	border:1px solid #40392C;*/
	color:#CCCCCC;
	margin:5px 0;
	padding:4px 28px;
}



